
<div class="">
<%- include('./common/header.ejs') %>


<div class="py-3 py-md-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mt-3">
                <div class="  ">
                    <img src="./public/image/girls1.avif" class="modal-img" alt="Img">
                </div>
            </div>
            <div class="col-md-7 mt-3">
                <div class="product-view">
                    <h4 class="product-name">
                      Levi`s
                        <label class="label-stock bg-success">In Stock</label>
                    </h4>
                    <hr>
                    
                    <div>
                        <span class="selling-price">$500</span>
                        <span class="original-price">$799</span>
                    </div>
                    <hr>
                    <div>
                      <i class="fa-solid fa-tag" style="color: #74C0FC; font-size: 20px;"></i>
                      <span class="offer" style="font-size: 20px; font-weight: 6 00;">Available offers</span><br>
                      <i class="fa-solid fa-tag" style="color: #74C0FC; font-size: 20px;"></i>

                      <span class="offer">Bank OfferGet ₹50 instant discount on first Flipkart UPI txn on order of ₹200 and aboveT&C</span><br>
                      <i class="fa-solid fa-tag" style="color: #74C0FC; font-size: 20px;"></i>

                      <span class="offer">Bank Offer6% off up to ₹2000 on HDFC Bank Credit Card EMI Txns, Tenure: 6month and above, Min Txn Value: ₹7500T&C</span>


                    </div>
                    <div class="mt-2">
                        <div class="input-group">
                            <span class="btn btn1"><i class="fa fa-minus"></i></span>
                            <input type="number" value="1" class="input-quantity" />
                            <span class="btn btn1"><i class="fa fa-plus"></i></span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <a href="" class="btn btn1"> <i class="fa fa-shopping-cart"></i> Add To Cart</a>
                        <a href="" class="btn btn1"> <i class="fa fa-heart"></i> Add To Wishlist </a>
                    </div>
                  
                </div>
            </div>
        </div>
        
    </div>
</div>


<!-- ------------------------------------------------------------------------------------------------------------------ -->
<!-- more jeans -->
<div class="py-3 py-md-5 bg-light" style="margin-top: -10px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-4">Girls More Jeans</h4>
            </div>
            <div class="col-md-3">
                <div class="product-card">
                    <div class="product-card-img">
                        <label class="stock bg-success">Out of stock</label>
                       <a href="/girlsjeans"> <img src="./public/image/jeans1.webp" alt="pant" data-bs-toggle="modal" data-bs-target="#exampleModal5"></a>
                    </div>
                    <div class="product-card-body">
                        <p class="product-brand">Levis</p>
                        <h5 class="product-name">
                           <a href="">
                                Jeans
                           </a>
                        </h5>
                        <div>
                            <span class="selling-price">$500</span>
                            <span class="original-price">$799</span>
                        </div>
                        <div class="mt-2">
                            <a href="" class="btn btn1">Add To Cart</a>
                            <a href="" class="btn btn1"> <i class="fa fa-heart"></i> </a>
                            <a href="" class="btn btn1"> View </a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- 2nd -->

            <div class="col-md-3">
                <div class="product-card">
                    <div class="product-card-img">
                        <label class="stock bg-success">In Stock</label>
                        <img src="./public/image/jeans2.webp" alt="Shirt" data-bs-toggle="modal" data-bs-target="#exampleModal6">
                    </div>
                    <div class="product-card-body">
                        <p class="product-brand">Balenciga</p>
                        <h5 class="product-name">
                          <a href="">
                            fit jeans for girls
                          </a>
                        </h5>
                        <div>
                            <span class="selling-price">$200</span>
                            <span class="original-price">$300</span>
                        </div>
                        <div class="mt-2">
                            <a href="" class="btn btn1">Add To Cart</a>
                            <a href="" class="btn btn1"> <i class="fa fa-heart"></i> </a>
                            <a href="" class="btn btn1"> View </a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- 3rd -->
            <div class="col-md-3">
                <div class="product-card">
                    <div class="product-card-img">
                        <label class="stock bg-success">In Stock</label>
                        <img src="./public/image/jeans3.webp" alt="Shirt" data-bs-toggle="modal" data-bs-target="#exampleModal6">
                    </div>
                    <div class="product-card-body">
                        <p class="product-brand">Balenciga</p>
                        <h5 class="product-name">
                          <a href="">
                            Regular Girls Jeans
                          </a>
                        </h5>
                        <div>
                            <span class="selling-price">$200</span>
                            <span class="original-price">$300</span>
                        </div>
                        <div class="mt-2">
                            <a href="" class="btn btn1">Add To Cart</a>
                            <a href="" class="btn btn1"> <i class="fa fa-heart"></i> </a>
                            <a href="" class="btn btn1"> View </a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- 4th -->

            <div class="col-md-3">
                <div class="product-card">
                    <div class="product-card-img">
                        <label class="stock bg-success">In Stock</label>
                        <img src="./public/image/jeans4.jpeg" alt="Shirt" data-bs-toggle="modal" data-bs-target="#exampleModal6">
                    </div>
                    <div class="product-card-body">
                        <p class="product-brand">Balenciga</p>
                        <h5 class="product-name">
                          <a href="">
                            Skinny Jeans
                          </a>
                        </h5>
                        <div>
                            <span class="selling-price">$200</span>
                            <span class="original-price">$300</span>
                        </div>
                        <div class="mt-2">
                            <a href="" class="btn btn1">Add To Cart</a>
                            <a href="" class="btn btn1"> <i class="fa fa-heart"></i> </a>
                            <a href="" class="btn btn1"> View </a>
                        </div>
                    </div>
                </div>
            </div>
</div>





</div>
<div class="">
    <%- include('./common/footer.ejs') %>
    
</div>